<div class="container mt-5">
    <div class="col-10">
        <div class="row">
            <header>
                <h1>Hello Admin</h1>
                <h2>Welcome to Administration page of Medicare</h2>
            </header>
        </div>
        <div class="row">
            <h3>You can do all of the followings with your login Id and Password provided by the Medicare Team</h3>
        </div>
        <div class="row">

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Medicines related options
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>
                                <li>You Can Add Medicines</li>
                            </strong>
                            During the addition of medicine make sure images shouldn't cross the size of
                            <code>1 MB</code>.
                        </div>
                        <div class="accordion-body">
                            <strong>
                                <li>You Can Update Medicines</li>
                            </strong>
                            During the updation of medicine make sure images shouldn't cross the size of
                            <code>1 MB</code>.
                        </div>
                        <div class="accordion-body">
                            <strong>
                                <li>You Can Delete Medicines</li>
                            </strong>
                            After Deletion you can't retrive the data so make sure you check <code>2 Time</code> before
                            deleting.
                        </div>
                        <div class="accordion-body">
                            <strong>
                                <li>You Can See Medicine's List</li>
                            </strong>
                            In this section you can see the list of available medicines.
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            User related options
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>
                                <li>You can only see users</li>
                            </strong>
                            In this section you will be able to see users list including role of users.
                            <code>1 MB</code>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>