/* You can add global styles to this file, and also import other style files */
/* html,
body {
    height: 100%;
} */

*,*::before,*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(90deg, #dce9f7 0%, #f1f6ff 100%);
    background-repeat: repeat;
    display: grid;
}

.center {
    text-align: center;
}

.mt {
    margin-top: 20px;
}